* {
	box-sizing: content-box;
}
html {
	background: #202124;
	color: white;
	scrollbar-gutter: stable;
}
button {
	color: initial;
	margin: .1em .25em .1em .25em;
}

.App {
	margin: 0.1em auto 5em auto;
	text-align: center;
	max-width: 70em;
}

a {
	font-weight: bold;
	background: #BCC0C3;
	border-radius: 0.2em;
	padding: 0.1em 0.2em 0.1em 0.2em;
	margin: 0 0.2em 0 0.2em;
}

#CalendarRoot {
	position: relative;
	margin: auto;
	text-align: left;
}

.debug .calendar-main {
	border: 1px solid blue;
}
.calendar-main {
	margin: 0.25em 0 0 0;
}

.loading-overlay {
	font-size: 150%;
	color: white;
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.loading-overlay > div {
	margin: auto;
}

.tooltip {
	max-width: 20em;
	pointer-events: none;
}
.tooltip .title {
	font-weight: bold;
}
.tooltip-content {
	position: relative;
	left: 1em;
	top: 1em;
	padding: 0.5em;
	background: beige;
	color: black;
	border: 1px solid black;
	z-index: 50;
	text-align: left;
}

.calendar-buttons-panel {
	width: 18em;
	height: 34em;

	text-align: left;
	color: white;
	background: black;
	border-radius: 0.3em;
	padding: 0.5em;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	gap: 0.1em;
}

.time-interval-list {
	height: 100%;
	overflow: auto;
	background: #202124;
}
.time-interval-list .item span {
	display: inline-block;
	min-width: 3em;
}
.alright {
	text-align: right;
}

.inline-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}
.inline-list li {
	margin: 0 0.25em 0 1em;
}

nav {
	list-style: none;
	display: inline-block;
	float: right;
	margin: 0 0 0.2em 0;
}
nav li {
	padding: 0.2em;
	background: black;
	display: flex;
	border-radius: 0.3em;
	margin: auto 0.2em auto 0.2em;
	float: right;
	min-height: 1.8em;
}
.status-msg {
	margin: 0 0 0.2em 0;
	display: inline-block;
	height: 1.5em;
	width: 20em;
}

.columns-container {
	display: flex;

	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row wrap;  /* shorthand for above */

	justify-content: space-around; /* for main axis (=row) */
	align-items: stretch; /* for secondary axis (=column) */
	align-content: flex-start; /* secondary axis (what to do if theres extra empty space) */
	gap: 0.5em;
}

.meeting-info {
	min-width: 10em;
	max-width: 30em;
}

.button-group.startstop button {
	display: block;
}

.weekNr,
.weekNav {
	text-align: center;
}

