* {
	box-sizing: content-box;
}

.App {
  text-align: center;
}

table.calendar {
	border-collapse: collapse;
}
.calendar td, .calendar th {
	border: 1px solid black;
	padding: 0;
	width: 2em;
}

.timeslot {
	width: 100%;
	height: 0.25em;
	background: pink;
}

.timeslot[data-timeslot-state=1] {
	background: lime;
}

