* {
	box-sizing: content-box;
}

.App {
	max-width: 30em;
	margin: 0.5em auto 0.5em auto;
	text-align: center;
}

table.calendar {
	border-collapse: collapse;
	margin: 0.5em auto 0.5em auto;
}
.calendar, .calendar * {
	pointer-events: none;
}

.calendar th.day {
	border: 1px solid black;
	font-size: 75%;
}
.calendar th.day[data-today="true"] {
	background: yellow;
}
.calendar td, .calendar th {
	padding: 0;
	min-width: 2.5em;
	max-width: 2.5em;
	overflow: visible;
}
.timeslot:last-of-type {
	border-bottom: 1px dotted black;
}
tr:nth-of-type(even) .hourlabel {
	visibility: hidden;
}
.hourlabel {
	position: relative;
	top: -0.75em;
}
tr:nth-of-type(odd) .hourlabel {
	vertical-align: top;
}
.timeslot {
	pointer-events: auto;
	border-left: 1px solid black;
	width: 100%;
	height: 0.75em;
}

.calendar td:nth-of-type(8) {
	border-right: 1px solid black;
}

.calendar.edit .timeslot[data-timeslot="0"] { background: #82A1F5; }
.calendar.edit .timeslot[data-timeslot="0"]:nth-of-type(odd) { background: #7490DB; }
.calendar.edit .timeslot[data-timeslot="1"] { background: #C6F582; }
.calendar.edit .timeslot[data-timeslot="1"]:nth-of-type(odd) { background: #B1DB74; }
.calendar.edit .timeslot[data-paint="true"]:nth-of-type(n) { background: white; }

.calendar.view .timeslot[data-users="0"] { background: white; }
.calendar.view .timeslot[data-users="1"] { background: #B6D2FF; }
.calendar.view .timeslot[data-users="1"]:nth-of-type(odd) { background: #A7C1EB; }
.calendar.view .timeslot[data-users="2"] { background: #98B0D6; }
.calendar.view .timeslot[data-users="2"]:nth-of-type(odd) { background: #8A9FC2; }
.calendar.view .timeslot[data-users="3"] { background: #7B8EAD; }
.calendar.view .timeslot[data-users="3"]:nth-of-type(odd) { background: #6D7E99; }
.calendar.view .timeslot[data-users="4"] { background: #5E6D85; }
.calendar.view .timeslot[data-users="4"]:nth-of-type(odd) { background: #4F5C70; }
.calendar.view .timeslot[data-users] { background: #414B5C; }
.calendar.view .timeslot[data-users]:nth-of-type(odd) { background: #2D3440; }

